<!DOCTYPE html>
<html>
    <head>
        <title>Django Julia's blog</title>
    </head>
    <body>
        <header>
          <h1><a href="/">Julia makes Django Blog</a></h1>
        </header>
        {% for post in posts %}
            <article>
                <h2><a href= "">{{post.title}}</a></h2>
                <p>{{post.text|linebreaksbr}}</p>
                <time>published: {{post.published_date}}</time>
                <br></br>  <br></br>
            </article>
        {% endfor %}
    </body>
</html>
